@charset "UTF-8";
@import "compass";
@import "bootstrap-compass";
@import "bootstrap-variables";
@import "bootstrap";

/*
================================================================================
	variables
================================================================================
*/
$navy: #34495e;


/*
================================================================================
	style
================================================================================
*/
* {
	@include box-sizing(border-box);
}

html, body {
	height: 100%;
}

body {
	background: $navy;
}

.map-container {
	position: relative;
	width: 100%;
	height: 100%;
	padding-top: 50px;
	// padding: 50px 0;

	h1.app-title {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		color: #fff;
		font-size: 18px;
		font-weight: bold;
		padding: 0 20px;
	}

	#map {
		width: 100%;
		height: 100%;
	}
}

.menu {
	position: fixed;
	bottom: 20px;
	left: 50%;
	margin-left: -25px;
	width: 50px;
	height: 50px;
	background: $navy;
	@include border-radius(50px);
	z-index: 99;
	color: #fff;
	font-size: 24px;
	line-height: 50px;
	text-align: center;
	display: block;

	i {
		font-size: 24px;
		line-height: 50px;
	}

	&:hover {
		color: #fff;

		i {
			color: #fff;
		}
	}
}

.setting {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 20px;
	background: $navy;
	z-index: 999;
	text-align: center;
}